<html>
    <head>
        <title>Postwall | <%= title %></title>
        <%- style %>
    </head>
    <body>
        <%- include('./shared/_header') %>
        <%- body %>
        <%- include('./shared/_footer')%>
        <%- script %>
    </body>
</html>